{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<section class="login-section">

<div class="login-box">

<h2>Set New Password 🔑</h2>

<form method="POST" id="resetForm">
{% csrf_token %}

<!-- NEW PASSWORD -->
<label>New Password</label>
<input type="password" name="password1" id="password1" required>

<div id="passwordError" class="form-error"></div>

<!-- CONFIRM PASSWORD -->
<label>Confirm Password</label>
<input type="password" name="password2" id="password2" required>

<div id="confirmError" class="form-error"></div>

<button type="submit">Reset Password</button>

</form>

</div>

</section>

<!-- JS VALIDATION -->
<script>

const form = document.getElementById("resetForm");
const password = document.getElementById("password1");
const confirm = document.getElementById("password2");

const passwordError = document.getElementById("passwordError");
const confirmError = document.getElementById("confirmError");

form.addEventListener("submit", function(e){

    let valid = true;

    // RESET ERRORS
    passwordError.innerText = "";
    confirmError.innerText = "";

    // PASSWORD VALIDATION
    if(password.value.length < 8){
        passwordError.innerText = "Password must be at least 8 characters";
        valid = false;
    }
    else if(!/[A-Z]/.test(password.value)){
        passwordError.innerText = "Must contain 1 uppercase letter";
        valid = false;
    }
    else if(!/[a-z]/.test(password.value)){
        passwordError.innerText = "Must contain 1 lowercase letter";
        valid = false;
    }
    else if(!/[0-9]/.test(password.value)){
        passwordError.innerText = "Must contain 1 number";
        valid = false;
    }

    // CONFIRM PASSWORD
    if(password.value !== confirm.value){
        confirmError.innerText = "Passwords do not match";
        valid = false;
    }

    if(!valid){
        e.preventDefault(); // stop form submit
    }

});

</script>

{% endblock %}