{% extends 'nav.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<section class="login-section">

<div class="login-box">

<h2>Set New Password 🔑</h2>

<form method="POST">
{% csrf_token %}

<label>New Password</label>
<input type="password" name="password1" required>

<label>Confirm Password</label>
<input type="password" name="password2" required>

<button type="submit">Reset Password</button>

</form>

</div>

</section>

{% endblock %}