{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<section class="login-section">

<div class="login-box">

<h2>Set New Password 🔑</h2>

<form method="POST" id="resetForm">
{% csrf_token %}

<!-- NEW PASSWORD -->
<label>New Password</label>
<div class="password-wrapper">
    <input type="password" name="password1" id="password1" required>
    <span class="toggle-password" data-target="password1">
        <i class="fa-solid fa-eye-slash"></i>
    </span>
</div>
<div id="passwordError" class="form-error"></div>

<!-- CONFIRM PASSWORD -->
<label>Confirm Password</label>
<div class="password-wrapper">
    <input type="password" name="password2" id="password2" required>
    <span class="toggle-password" data-target="password2">
        <i class="fa-solid fa-eye-slash"></i>
    </span>
</div>
<div id="confirmError" class="form-error"></div>

<button type="submit">Reset Password</button>

</form>

</div>

</section>

<!-- JS -->
<script>

const form = document.getElementById("resetForm");
const password = document.getElementById("password1");
const confirm = document.getElementById("password2");

const passwordError = document.getElementById("passwordError");
const confirmError = document.getElementById("confirmError");

/* VALIDATION */
form.addEventListener("submit", function(e){

    let valid = true;

    passwordError.innerText = "";
    confirmError.innerText = "";

    if(password.value.length < 8){
        passwordError.innerText = "Password must be at least 8 characters";
        valid = false;
    }
    else if(!/[A-Z]/.test(password.value)){
        passwordError.innerText = "Must contain 1 uppercase letter";
        valid = false;
    }
    else if(!/[a-z]/.test(password.value)){
        passwordError.innerText = "Must contain 1 lowercase letter";
        valid = false;
    }
    else if(!/[0-9]/.test(password.value)){
        passwordError.innerText = "Must contain 1 number";
        valid = false;
    }

    if(password.value !== confirm.value){
        confirmError.innerText = "Passwords do not match";
        valid = false;
    }

    if(!valid){
        e.preventDefault();
    }

});

/* PASSWORD TOGGLE */
const toggles = document.querySelectorAll(".toggle-password");

toggles.forEach(icon => {
    icon.addEventListener("click", function () {
        const input = document.getElementById(this.dataset.target);
        const iconEl = this.querySelector("i");

        if (input.type === "password") {
            input.type = "text";
            iconEl.classList.replace("fa-eye", "fa-eye-slash");
        } else {
            input.type = "password";
            iconEl.classList.replace("fa-eye-slash", "fa-eye");
        }
    });
});

</script>

{% endblock %}